.navbar-container {
    padding: 1rem;
    margin-bottom: 1rem;
    padding-left: 5%;
    background-color: #2185d0 !important;
    color: white !important;
}

.navbar-item {
    color: white !important;
    font-size: 18px;
}

.navbar-item.active {
    border-bottom: 1px solid white;
}

#basic-navbar-nav {
    background-color: #2185d0 !important;
    color: white !important;
}

.navbar-toggler {
    background-color: white !important;
    border: 1px solid black !important;
}